.logo {
    font-weight: bold;
    background-color: navy;
    color: white;
    font-size: 60px;
    font-style:italic;
}

.first image {
    width: 20%; 
    float: left; 
    margin : 5px;

}

.text {
    float: right;
}